
spring:
  application:
    name: Exam-Management-System

  datasource:
    url: jdbc:postgresql://localhost:5432/exam_management_system
    username: postgres
    password: 138175
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080
