
spring:
  application:
    name: Exam-Management-System

  datasource:
    url: jdbc:postgresql://localhost:5432/exam_management_system
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080

jwt:
  secret: ee0eff093432afb8419daa63728b6d6925a1f3e849cfbf3503a1a1e03ebf23b0
