<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add-exam</title>
    <link rel="stylesheet" th:href="@{/css/add-exam.css}">
</head>
<body>
<h2>Create New Exam</h2>

<form th:action="@{/teacher/course/add/exam}"
      th:object="${exam}"
      method="post">


    <p>
        <label>Title:</label><br>
        <input type="text" th:field="*{title}" required />
    </p>

    <p>
        <label>Description:</label><br>
        <textarea th:field="*{description}" rows="4" cols="40"></textarea>
    </p>


    <p>
        <label>Start Time:</label><br>
        <input type="datetime-local" th:field="*{startTime}" required />
    </p>

    <p>
        <label>End Time:</label><br>
        <input type="datetime-local" th:field="*{endTime}" required />
    </p>


    <p>
        <label>Duration (minutes):</label><br>
        <input type="number" th:field="*{durationMinutes}" min="1" required />
    </p>


    <input type="hidden" name="courseId" th:value="${courseId}" />

    <p>
        <button type="submit">Create Exam</button>
    </p>

</form>

<p>
    <a th:href="@{/teacher/course/exams/{id}(id=${courseId})}">
        Back to Exams
    </a>
</p>
<a th:href="@{/home}">Back to Dashboard</a>
</body>
</html>