<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>exam course teacher</title>
    <link rel="stylesheet" th:href="@{/css/exam-course-teacher.css}">
</head>
<body>

<h2>Exams for This Course</h2>

<!-- Add New Exam Button -->
<p>
    <a th:href="@{/teacher/course/add/exam/{id}(id=${courseId})}">
        Add New Exam
    </a>
</p>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Duration (minutes)</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="exam : ${allExam}">
        <td th:text="${exam.title}"></td>
        <td th:text="${exam.description}"></td>
        <td th:text="${#temporals.format(exam.startTime, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${#temporals.format(exam.endTime, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${exam.durationMinutes}"></td>
        <td>
            <a th:href="@{/teacher/course/exam/edit/{id}(id=${exam.id})}">
                Edit
            </a>
        </td>
    </tr>

    <tr th:if="${#lists.isEmpty(allExam)}">
        <td colspan="6">No exams found for this course.</td>
    </tr>
    </tbody>
</table>
<a th:href="@{/home}">Back to Dashboard</a>

</body>
</html>