<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<h2>Dashboard</h2>

<div sec:authorize="hasRole('MANAGER')">
    <a th:href="@{'/manager/all-user'}">
        <button>See all the user</button>
    </a>
</div>

<div sec:authorize="hasRole('MANAGER')">
    <a th:href="@{'/manager/search-page'}">
        <button>Search for a user</button>
    </a>
</div>

<div sec:authorize="hasRole('MANAGER')">
    <a th:href="@{'/manager/course/add'}">
        <button>add a course</button>
    </a>
</div>

<div sec:authorize="hasRole('MANAGER')">
    <a th:href="@{'/manager/courses'}">
        <button>see all courses</button>
    </a>
</div>

<div sec:authorize="hasRole('TEACHER')">
    <a th:href="@{'/teacher/courses'}">
        <button>See your courses to teach</button>
    </a>
</div>

<div sec:authorize="hasRole('STUDENT')">
    <a th:href="@{'/student/courses'}">
        <button>See your courses</button>
    </a>
</div>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>